In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
# collisions data
collisions = pd.read_csv('pd_collisions_datasd.csv')
collisions_dict = pd.read_csv('pd_collisions_dictionary_datasd.csv')
traffic_counts = pd.read_csv('traffic_counts_datasd.csv')
traffic_dict = pd.read_csv('traffic_counts_dictionary_datasd.csv')

Impact:  How important/interesting is the question being asked?

Data Analysis and Visualization: Are the findings presented in an aesthetically pleasing and easy to understand manner? Is the data analysis rigorous and mathematically sound?

Creativity & Innovation: Are there advanced, creative modelling and analysis techniques being used? Are there non-orthodox analysis tools being used?

Presentation: How clearly are the findings presented? Have the ideas been articulated well?

Vision Future plans for the project? Is there a clear idea of how they would like to use their findings?

# CLEANING THE DATASETS

## Traffic Count

In [135]:
def clean_traffic_count(df,list_columns):
    for i in list_columns:
        if type(df[i][0]) == str:
            df[i] = pd.to_numeric(df[i].str.strip()).fillna(0)
        else: 
            df[i] = df[i].fillna(0)

In [191]:
cleaned_traffic_count = traffic_counts.drop(['id','count_date','file_no'],axis=1)

In [184]:
cleaned_traffic_count.dtypes
# all_count and northbound_count are objects when they should be floats; we need to convert them

street_name          object
limits               object
all_count            object
northbound_count     object
southbound_count    float64
eastbound_count     float64
westbound_count     float64
total_count           int64
file_no              object
dtype: object

In [185]:
traffic_count_cols = ['all_count','northbound_count','southbound_count','eastbound_count','westbound_count']
clean_traffic_count(cleaned_traffic_count,traffic_count_cols)

In [186]:
cleaned_traffic_count.head()

,street_name,limits,all_count,northbound_count,southbound_count,eastbound_count,westbound_count,total_count,file_no
0,01 AV,A ST - ASH ST,0.0,18010.0,0.0,0.0,0.0,18010,0182-07
1,01 AV,A ST - ASH ST,0.0,20060.0,0.0,0.0,0.0,20060,0152-10
2,01 AV,A ST - ASH ST,0.0,19597.0,0.0,0.0,0.0,19597,0182-13
3,01 AV,ASH ST - BEECH ST,0.0,2298.0,0.0,0.0,0.0,2298,0888-12
4,01 AV,B ST - A ST,0.0,15625.0,0.0,0.0,0.0,15625,0687-11

In [187]:
sum(cleaned_traffic_count['total_count']-(cleaned_traffic_count[traffic_count_cols[0]]
+cleaned_traffic_count[traffic_count_cols[1]]+cleaned_traffic_count[traffic_count_cols[2]]
+cleaned_traffic_count[traffic_count_cols[3]]+cleaned_traffic_count[traffic_count_cols[4]]))
# IT WORKS! All counts add up to total counts

0.0

In [192]:
traffic_dict
# already pretty clean

              Field                                        Description
0       street_name           The vehicles were counted on this street
1            limits  The vehicles were counted between these cross ...
2  northbound_count           The 24 hour count of northbound vehicles
3  southbound_count           The 24 hour count of southbound vehicles
4   eastbound_count            The 24 hour count of eastbound vehicles
5   westbound_count            The 24 hour count of westbound vehicles
6       total_count  The 24 hour total of all directions of vehicle...
7        count_date             The vehicles were counted on this date

## Collisions

In [209]:
cleaned_collisions = collisions.drop('report_id',axis=1)
cleaned_collisions['hit_run_lvl'].fillna('NEITHER',inplace = True)
cleaned_collisions['date_time'] = cleaned_collisions['date_time'].apply(pd.to_datetime)
cleaned_collisions.head()

,date_time,police_beat,street_no,street_dir,street_name,street_type,cross_st_dir,cross_st_name,cross_st_type,violation_section,violation_type,charge_desc,injured,killed,hit_run_lvl
0,2017-01-01 00:01:00,124,8300,,CAM DEL ORO,,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
1,2017-01-01 00:01:00,325,8100,,ROYAL GORGE,DRIVE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR
2,2017-01-01 00:01:00,322,6400,,CRAWFORD,STREET,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
3,2017-01-01 00:01:00,935,5500,,VALERIO,TRAIL,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR
4,2017-01-01 01:00:00,521,1000,,11TH,AVENUE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR

In [210]:
cleaned_collisions['hit_run_lvl'].value_counts()

NEITHER        12187
MISDEMEANOR    10407
FELONY           114
Name: hit_run_lvl, dtype: int64